<style type="text/css">
  body {
    padding-top: 20px;
  }
  .navbar-brand {
    font-weight: bold;
  }
  footer {
    border-top: 1px solid #CCC;
    margin-top: 60px;
    margin-bottom: 48px;
    opacity: 0.75;
  }
  .content-body>:first-child, .content-body>:first-child>:first-child {
    margin-top: 0 !important;
  }
  p code {
    white-space: inherit;
  }
  .leaflet-container {
    margin: 0 0 10.5px;
  }
</style>

<div class="fluid-row">
  <div class="col-sm-12">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="./">EDAV final Project  -  2nd Ave NYC Line subway</a>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="fluid-row">
  <div class="col-sm-3">
    <div class="list-group">
      <a class="list-group-item" href="./">Introduction</a>
      <a class="list-group-item" href="Description_of_Data.html">Description of Data</a>
      <a class="list-group-item" href="Analysis_of_Data_Quality.html">Analysis of Data Quality</a>
      <a class="list-group-item" href="EDA-Building_Permits.html">EDA - Building Permits</a>
      <a class="list-group-item" href="EDA-Real_Estate_Sales.html">EDA - Real State Sales</a>
      <a class="list-group-item" href="EDA-Property_Market_Values.html">EDA - Property Market Values</a>
      <a class="list-group-item" href="EDA-Property_Assessed_Values.html">EDA - Property Assessed Values</a>
      <a class="list-group-item" href="EDA-Dog_Licensing.html">Fun section - Dog Licensing</a>
      <a class="list-group-item" href="Executive_Summary.html">Executive Summary</a>
      <a class="list-group-item" href="Interactive_Component.html">Interactive Component</a>
      <a class="list-group-item" href="Conclusion.html">Conclusion</a>
      <a class="list-group-item" href="Suggested_Grading.html">Suggested Grading</a>   
<!--      <a class="list-group-item" href="choropleths.html">Choropleths</a>
      <a class="list-group-item" href="projections.html">Projections</a>
      <a class="list-group-item" href="morefeatures.html">Additional Features</a>-->
    </div>
    <script>
      // manage active state of toc based on current page
      var href = window.location.pathname;
      href = href.substr(href.lastIndexOf('/') + 1);
      if (href === "" || href === "index.html")
        href = "./";
      $('a.list-group-item[href="' + href + '"]').addClass('active');
    </script>
  </div>
  <div class="col-sm-9 content-body">
